
body {
    background-color: rgba(0, 0, 0, 0.514);
    text-align: center;
  
}

h1 {
    font-style: italic;
    text-align: center;
    font-weight: 500;
}


h2 {
    font-size: xx-large;
    font-style: italic;
    font-weight: 200;
}

#puesto {
    font-style: italic;
}


p {
    font-size: large;
    font-weight: 100;
}

#carrera {
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
}